body{
    margin: 0;
    padding: 0;
}
.container {
    height: 850px;
    width: 500px;
    margin: 70px auto;
    border: 4px solid #8bd3dd;
    background-color: #fef6e4;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #8bd3dd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.close {
    height: 25px;
    width: 25px;
    margin-left: 450px;
    padding: 10px;
}

h1 {
    color: #001858;
    font-size: 25px;
    margin-left: 20px;
}

.btn_container {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: #8bd3dd;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.symbol {
    height: 20px;
    width: 20px;
}

.input_Box {
    height: 50px;
    width: 420px;
    margin: 25px 35px;
    border-radius: 25px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
}

.meeting_text {
    font-size: 15px;
    margin-left: 15px;
    color: #001858;
}

.name_card {
    height: 30px;
    width: 430px;
    border: 3px solid #8bd3dd;
    color: #001858;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.name_card:hover {
    transform: scale(0.9);
    box-shadow: 0px 0px 3px 3px #8bd3dd;
}